#page-wrap {
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    margin-bottom: 20px;
    color: white;
    padding-left: 30px;
    font-weight: 400;
    width: 100%;
    font-size: 1.7rem;
    letter-spacing: 0.06em;
    transition: all .5s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    /* opacity: .3; */
  }
  
  .bm-item:focus {
    outline: 0;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    border-radius: 30%;
    /* background-color: black; */
    position: fixed;
    width: 23px;
    left: 15px;
    top: 15px;
    height:15px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    border-radius: 80px;
    background-color: white !important;
    max-width: 10vw;
    /* border: 1px solid black; */
    color: white;
  }
  
  .bm-burger-bars-hover {
    opacity: 1 !important;
    background-color:white !important;
  }

  .bm-menu-wrap {
    bottom: 0;
    right: 0;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 30px;
    width: 50px;
    display: none;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: black;
    right: 5px;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: black;
    padding: 2em 1em;
    font-size: 1.6em;
    opacity: .9; 
    position: fixed;
    left: 0;
    right: 0;
  }
  
  
  /* Wrapper for item list */
  .bm-item-list {
    color: white;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(255,255,255);
  }

  div.menu {
    font-family: "Avenir";
  }

  div.nav-bar {
    background-color: black;
    padding: 3%;
border-radius: 50%;
width: 8px;
height: 8px;
position: fixed;
top: 7px;
left: 11px;
  }