#page-wrap {
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
    width: 100%;
    font-size: 1.7rem;
    letter-spacing: 0.06em;
    transition: all .5s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    opacity: .3;
  }
  
  .bm-item:focus {
    outline: 0;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    border-radius: 30%;
    /* background-color: black; */
    position: fixed;
    width: 25px;
    left: 15px;
    top: 15px;
    height:13px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    border-radius: 80px;
    background: white;
    max-width: 10vw;
    border: 1px solid black;
  }
  
  .bm-menu-wrap {
    bottom: 0;
    right: 0;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 30px;
    width: 50px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: black;
    right: 5px;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: black;
    padding: 2em 1em;
    font-size: 1.6em;
    opacity: .8; 
  }
  
  
  /* Wrapper for item list */
  .bm-item-list {
    color: white;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(255,255,255);
  }

  div.menu {
    font-family: "Avenir";
  }